body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Mensagem de sucesso */
.success-message {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
}

/* Tabela de usuários */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #007bff;
    color: #fff;
}

/* Links de ação (Editar e Excluir) */
table a {
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    margin-right: 5px;
}

table a:hover {
    background-color: #0056b3;
}

/* Link "Voltar" */
a {
    text-decoration: none;
    background-color: #ccc;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
}

a:hover {
    background-color: #999;
}